* {
    padding: 0;
    margin: 0;

}

h1 {
    text-align: center;
    background-color: #AAA492;
    color: black;
    padding: 20px;
}
p.centrado {
    text-align: center;
}



.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #E5E3C9; 
  padding-left: 30px; 
}


input{
  background-color: white; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #c5c6c8; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}
textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #886F6F; 
  border-color: #886F6F; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}
button p{
  color: black; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}

::-webkit-input-placeholder {
 color: ##ff6961;
}


::-webkit-textarea-placeholder {
 color: ##ff6961;
}


.formulario input:focus{
  outline:0;
  border: 1px solid ##77dd77;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid ##77dd77;
}
